


#tf-home h1 {
	font-size: 54px;
}

/* Technical-Skills Section */

#tf-technical-skills {
	background: url(../img/technical-skills.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}
#tf-technical-skills .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	height: auto;
	background-attachment: fixed;
	padding: 80px 0;
}

#tf-technical-skills a {
	color: #fff;
}

#tf-technical-skills a.active {
	color: #27cece;
}

#tf-technical-skills a:hover {
}

#tf-technical-skills i.fa {
	height: 30px;
	width: 30px;
	border: 1px solid #27cece;
	font-size: 20px;
	padding: 5px;
	border-radius: 50%;
	color: #27cece;
}
/* Pie Charts */

.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
}

.pie-value {
  display: block;
  position: absolute;
  font-size: 14px;
  height: 40px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
}

.pie-img {
  font-size: 14px;
  height: 100px;
  margin: 0px;	
  top: 0;
  left: 0;
  right: 0;
  line-height: 40px;
}

.javascript {
	top: 26%;
	left: 3px;
}

.html {
	top: 27%;
}

.ng-css {
	top: 24%;
}

.java {
	top: 24%;
	left: 3px;
	width: 62%;
}

.react-icon {
	height: 110px;
	margin-top: -10px;
}

.redux-icon {
	padding-top: 12px;
	padding-bottom: 12px;
}

.neurogate-portfolio-card {
	height: 100%;
}

.arduino {

}

.postgres {
	top: 23%;
	right: 2px;
	width: 58%;
}

.solidworks {
	width: 55%;
	top: 24%;
	left: 4px;
}

.bootstrap {
	width: 52%;
	top: 24%;
}

.android {
	width: 56%;
	top: 20%;
}

.skill-icon-title {
	text-align: center;
	margin-top: 36px;
    margin-bottom: 14px;
}

.skills-menu {
	text-align: center;
    font-size: 19px;
    font-weight: 600;
}

.skills-type li {
	margin: 10px 5px 0 5px;
}

.soft-skill-icon {	
}

.soft-skill-icon:hover {
	cursor:pointer;
}

.job-title {
	font-size: 22px;
}

.job-image {
	width: 32%;
}

.job-description-text {
	color:#5a5a5a !important;
	margin: 18px 0 !important;
	font-size: 15px;
}

.job-description-row {
	margin-right: 0 !important;

}

.footer-title {
	text-align: center;
}

.footer-social {
	text-align: center;
}

.footer-icons {
    height: 70px !important;
    width: 70px !important;
    font-size: 42px !important;
    padding: 12px 12px !important;
}

.footer-list-item {
	display: inline-block;
	text-align: center;
}

.footer-list-item h3 {
	margin-top: 10px !important;
}

.project-categories {
		margin-bottom: 20px;
	}

body {
	overflow-y: auto;
}

.declan-title {
	font-size: 4.5em !important;
}

.no-expand {
	height: 78px !important;
	margin-top: 40% !important;
}

.no-expand:hover {
    margin-top: 38% !important;
}

.big-border-top-bottom {
	border-top: solid 15px #27cece;
    border-bottom: solid 15px #27cece;
}

@media screen and (max-width: 522px) {
	.declan-title {
		font-size: 3.5em !important;
	}
}
.typer-subheader {
	font-size: 2.5em;
}

/*********** Media Queries ************/

@media screen and (max-width: 991px) {
	#tf-about .about-text {
		margin-top: 26px;
		text-align: justify;
	}

	.footer-list-item {
		padding-right: 25px;
		padding-left: 25px;
	}

	#tf-about {
		padding: 40px 0;
	}

	.neurogate-portfolio-card {
		height: unset;
	}


}

@media screen and (max-width: 522px) {
		.footer-list-item {
			padding-right: 5px;
			padding-left: 5px;
		}

		body {
			overflow-y: auto !important;
		}
}

/******** End of Media Queries ********/

/***** Particles,js ******/
canvas { 
	display: block;
	vertical-align: bottom; 
} 

/* ---- particles.js container ---- */ 
#particles-js{ 
	position:absolute; 
	width: 100%; height: 100%; 
	/*background-color: #232741; */
	/*background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png"); 
	background-repeat: no-repeat; 
	background-size: 20%; 
	background-position: 50% 50%;*/
}

/* ---- stats.js ---- */ 
.count-particles { 
	background: #000022; 
	position: absolute; 
	top: 48px; left: 0; 
	width: 80px; 
	color: #13E8E9; 
	font-size: .8em; 
	text-align: left; 
	text-indent: 4px; 
	line-height: 14px; 
	padding-bottom: 2px; 
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: bold; 
}
.js-count-particles { 
	font-size: 1.1em;
}
#stats, .count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px; 
}
#stats { 
	border-radius: 3px 3px 0 0; 
	overflow: hidden;
	}
.count-particles { 
	border-radius: 0 0 3px 3px;
	}

	
#tf-home, #tf-home .overlay {
	position: relative;
	height: 100vh;
}
#tf-home .content {
    padding: 0;
	top: 60%;
}

.mainpic-container {
	width: 100%;
    padding-bottom: 65%;
    overflow-y: hidden;
    position: relative;
    display: flex;
    align-items: unset;
}

.mainpic-container img {
	position: absolute;
	margin-top: -90px;
}

@media screen and (max-width: 522px) {
	#tf-home .content {
		top: 60%;
	}

	#tf-home .content .arrow {
		display: none;
	}

	.projectTypeList {
		display: none;
	}

	.project-hover-text {
    	margin-top: 100px !important;
		padding: 10px !important;
	}

	.hover-text {
		height: 128px !important;
		align-self: center;
		margin-top: 0 !important;
	}
	
	.no-expand {
		align-self: center;
		margin-top: 25% !important;
		height: 78px !important;
	}

	.no-expand:hover {
		margin-top: 25% !important;
	}


}



.title-background {
	background: rgba(0,0,0,0.55);
    padding: 1.4%;
    border-top: solid 2px #27cece;
    border-bottom: solid 2px #27cece;
}
#tf-home .title-background h1 {
	margin-top: 10px !important;
}

#tf-home a.fa.fa-angle-down {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 12px;
    transition: all 0.5s;
}